@import './_imports/_variables';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,700|Droid+Sans:700,500);

div, p, h1, h2, h3, h4, h5, h6, a, input, li, textarea, label, header, aside, menu, body {
	font-family: $sans;
	color: $black;
}

h1, h2, h3, h4, h5, h6, legend, label {
	font-family: $sans-title;
	margin-bottom: 1em*0.2;
	line-height: 130%;
	font-weight: 500;
}

p {
	margin-bottom: $space-med;
}

h1 {
	font-size: $font-huge;
}

h2 {
	font-size: $font-huge*0.85;
}

h3, legend {
	font-size: $font-huge*0.7;
}

h4 {
	font-size: $font-huge*0.62;
}

h5 {
	font-size: $font-huge*0.52;
}

h6, label {
	font-size: $font-huge*0.45;
}

p, a, input, textarea, li {
	font-size: $font-med;
}

.subtitle {
	font-style: italic;
	color: darken($grey, 5%);
}
